<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetBook"
        tools:targetApi="31">
        <activity
            android:name=".activities.EditarPerfilAdoptanteActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AdoptaGDL.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DonacionEspecieActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DonacionRealizadaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DonacionMonetariaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ModuloDonacionesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RefugioDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FormularioRefugioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RefugiosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InboxActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpRefugioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpAdoptanteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterTypeActivity"
            android:exported="false"
            android:theme="@style/Theme.PetBook" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.PetBook" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PetBook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>